.header {
  display: flex;
  text-align: center;
  background-color: rgb(241, 237, 237);
  height: 2em;
  padding: .5em;
  color: rgb(0, 0, 0);
}

.search-form {
  margin-left: 45%;
  display: flex;
  justify-content: space-between;
}

.search-bar {
  color: gray;
  width: 18em;
  margin-right: 1em;
  border: 1px solid rgb(178, 175, 175);
  border-radius: 5%;
}

.type-selector {
  margin: 1em;
  margin-top: .23em;
  background-color: rgb(241, 237, 237);
  border: none;
  color: rgb(56, 144, 207);
  font-weight: bold; 
}

.search-btn {
  color: rgb(139, 200, 47);
  border: 1px solid rgb(139, 200, 47);
  padding: .5em;
  border-radius: 10%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
